@font-face {
    font-family: SoulsFont;
    src: url("../assets/fonts/TrajanPro-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.title {
    text-align: center;
    color: white;
    text-shadow: 1px 1px rgb(255, 215, 0, 0.7);
    font-family: SoulsFont;

    margin: 10px;
}

.board {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    gap: 10px;

    margin: 20px auto;
    padding: 10px;

    width: 850px;
}

.pieces {
    width: 150px;
    height: 150px;

    border: 2px solid white;
    border-radius: 0.8rem;

    background: url("../assets/images/card-back.png");
    background-size: 150px;

    transition: transform 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    transform: rotateY(180deg);
}

.cardFront {
    /* Mexer */
}

.cardBack {
    /* Mexer */
}

.flip {
    transform: rotateY(180deg);
}

.gameOverScreen {
    display: none;
    position: fixed;
    margin: auto;
    padding: 20px;
    border-radius: 0.8rem;
    border: 1px solid gold;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    background-color: rgb(255, 255, 255, 0.8);
}

.gameOverScreen h1 {
    margin-bottom: 0.8rem;
}

.gameOverScreen img {
    width: 80px;
    margin-top: 1.2rem;
}
